
  <div class="container-fluid">
            <div class="row">
              
              <div class="col">
                
                  <h1 class="text-light text-center fw-bold">Cristian Mauricio Peral{{persona.nombre}} {{persona.apellido}}</h1>
                  <h2 class="fs-4 text-dark-emphasis text-center"><u>Desarrollador Web Full Stack Jr</u></h2>
                  <small class="text-light text-center"><p>" Si quieres darte a conocer o vender on line, <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;contáctame..."</p></small>
               
              </div>
    
              <div class="col-xl-4">
                <img src="../../../assets/img/Picture2.jpg" class="img-fluid" alt="Foto Personal" id="fotoPerfil">
              </div>
    
              <div class="col">
                
                  <h3 class="text-light text-center fs-5">Pongo a disposición un servicio profesional y personalizado de diagramación de <span class="text-dark-emphasis fw-bold">Sitios Web y Movil Responsivos</span> adaptado a las necesidades y objetivos de tu proyecto y enmarcado en un sólido stack de Programación Front End y Back End.</h3>
                  
              </div>
    
            </div>
          </div>
    
