.container-fluid{
    background-color: #ca7d0a;
    padding-right: calc(var(--bs-gutter-x) * 0);
    padding-left: calc(var(--bs-gutter-x) * 0);
}

/*Foto de Perfil*/

    @media (min-width: 1000px) {
        #fotoPerfil{
            position: absolute;
            width: 25%;
            border-radius: 50%;
            
            top: 300px;

        }
    }

    