<div class="container">

<h1 class="text-light">Proyectos</h1>
    
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7">
        <h2 class="text-light fs-3">Aplicaciones Dinámicas</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, debitis ipsam ipsa veniam exercitationem, a tempore dignissimos iure, dicta fugiat sed asperiores nulla quisquam et. Quia velit impedit laudantium ea!</p>

        </div>

        <div class="col-sm-12 col-md-5 col-lg-5 text-center">
         <img src="../../../assets/img/Desarrollador.jpg" alt="Programador Complicado XD" id="Imagen">   
        </div>

    </div>
</div>
