<div class="row">
    <h1 class="text-light text-center pb-30">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
<div class="col-lg-11">
    <ul>
        <li>
            <h1>Trabajo 1</h1> - <h3>Año</h3>
        </li>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio expedita maxime facilis. Voluptas aspernatur possimus nemo excepturi dolores aliquam ducimus vitae corrupti earum, nihil mollitia magni assumenda placeat quasi eaque.
</p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 2</h1> - <h3>Año</h3>
        </li>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio expedita maxime facilis. Voluptas aspernatur possimus nemo excepturi dolores aliquam ducimus vitae corrupti earum, nihil mollitia magni assumenda placeat quasi eaque.
</p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 3</h1> - <h3>Año</h3>
        </li>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio expedita maxime facilis. Voluptas aspernatur possimus nemo excepturi dolores aliquam ducimus vitae corrupti earum, nihil mollitia magni assumenda placeat quasi eaque.
</p>
    </ul>
</div>
</div>