<div class="row">
    <h1 class="text-light text-center">Fortalezas Duras y Blandas</h1>

    <div class="col-sm-4 text-center"><circle-progress
        [title]="'Front End 85'"
        [titleColor]="'white'"
        [titleFontSize]="'1.5em'"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="3000"
        [responsive]="false"
>   </circle-progress>
    </div>

    <div class="col-sm-4 text-center"><circle-progress
        [title]="'Back End 55'"
        [titleColor]="'white'"
        [titleFontSize]="'1.5em'"
        [percent]="55"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'grey'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="3000"
        [responsive]="false"
>   </circle-progress>
    </div>

    <div class="col-sm-4 text-center"><circle-progress
        [title]="'Aptitud 90'"
        [titleColor]="'white'"
        [titleFontSize]="'1.5em'"
        [percent]="90"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="3000"
        [responsive]="false"
>   </circle-progress>
    </div>


</div>
<!--
[imageSrc]="'../../../assets/img/html.jpg'" 
  [showImage]="true"
  [imageHeight]="80"
-->